In [1]:
import opendatasets as od
dataset_url = 'https://www.kaggle.com/mirichoi0218/insurance'
od.download(dataset_url)

Downloading insurance.zip to ./insurance

100%|██████████| 16.0k/16.0k [00:00<00:00, 1.17MB/s]

In [28]:
import pandas as pd
import json
import geopandas as gpd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

In [3]:
df = pd.read_csv(r'insurance/insurance.csv')

In [4]:
df.columns.values

array(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'],
      dtype=object)

In [5]:
y = df['charges']
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [6]:
X = df[['age', 'sex', 'bmi', 'children', 'smoker', 'region']]
X = pd.get_dummies(data=X, drop_first=True)
X

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,0,1,0,0,1
1,18,33.770,1,1,0,0,1,0
2,28,33.000,3,1,0,0,1,0
3,33,22.705,0,1,0,1,0,0
4,32,28.880,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,1,0,1,0,0
1334,18,31.920,0,0,0,0,0,0
1335,18,36.850,0,0,0,0,1,0
1336,21,25.800,0,0,0,0,0,1
1337,61,29.070,0,0,1,1,0,0

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [30]:
scaler = StandardScaler()
scaler.fit(X_train)
print(scaler.mean_)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

[39.234375   30.54261719  1.09933036  0.51227679  0.20982143  0.25223214
  0.25558036  0.23549107]

In [55]:
poly = PolynomialFeatures(2)
poly.fit(X_train_scaled)
X_train_scaled_poly = poly.transform(X_train_scaled)
X_test_scaled_poly = poly.transform(X_test_scaled)

In [56]:
regression = LinearRegression().fit(X_train_scaled_poly, y_train)

In [57]:
regression.score(X_test_scaled_poly, y_test)

0.8522151376033704